# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_CLUSTER=devnet

# Database
DATABASE_URL="yours here"

# Auth
AUTH_SECRET=y9oursecretyourself
GOOGLE_CLIENT_ID=y9oursecretyourself
GOOGLE_CLIENT_SECRET=y9oursecretyourself
GITHUB_CLIENT_ID=y9oursecretyourself
GITHUB_CLIENT_SECRET=y9oursecretyourself

# Solana
NEXT_PUBLIC_PROGRAM_ID=y9oursecretyourself
NEXT_PUBLIC_XP_MINT=y9oursecretyourself
NEXT_PUBLIC_SOLANA_RPC=https://api.devnet.solana.com
BACKEND_SIGNER_PRIVATE_KEY="y9oursecretyourself"

# Helius
HELIUS_API_KEY=y9oursecretyourself

# CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=y9oursecretyourself
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=y9oursecretyourself

# Analytics
NEXT_PUBLIC_POSTHOG_KEY=y9oursecretyourself
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

# Sentry & GA4
NEXT_PUBLIC_SENTRY_DSN=y9oursecretyourself
NEXT_PUBLIC_GA4_MEASUREMENT_ID=y9oursecretyourself